Repository Final-Furlong/final_furlong: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, eslint, i18n-normalize, slim-lint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        name: check for hardcoded secrets
  - repo: https://github.com/rubocop/rubocop
    rev: v1.81.1
    hooks:
      - id: rubocop
        name: 'run rubocop'
        additional_dependencies:
          - rubocop-capybara
          - rubocop-factory_bot
          - rubocop-graphql
          - rubocop-performance
          - rubocop-rails
          - rubocop-rake
          - rubocop-rspec
          - rubocop-rspec_rails
  - repo: local
    hooks:
      - id: actionlint
        language: script
        name: run actionlint
        files: \.yml$
        entry: actionlint
      - id: active-record-doctor
        language: script
        name: run active record doctor
        types: [ ruby ]
        entry: bin/active_record_doctor
      - id: eslint
        language: script
        name: run eslint
        types: [ javascript ]
        entry: yarn eslint --fix
      - id: fasterer
        language: script
        name: run fasterer
        types: [ ruby ]
        entry: bin/fasterer
      - id: i18n-normalize
        language: script
        name: run i18n normalize
        files: \.yml$
        entry: bundle exec i18n-tasks normalize
      - id: image-optim
        language: script
        name: run image-optim
        types: [ jpeg, gif, png, svg ]
        entry: image_optim
      - id: slim-lint
        language: script
        name: run slim-lint
        files: \.slim$
        entry: bin/slim-lint
      - id: stylelint
        language: script
        name: run stylelint
        files: \.css$
        entry: yarn run stylelint --fix

Update outdated gems
  .active_record_doctor.rb
  .pre-commit-config.yaml
  Gemfile
  Gemfile.lock
  app/components/nav/pagination/component.html.slim
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  app/models/legacy/race_record.rb
  app/services/auctions/broodmare_consigner.rb
  app/services/auctions/horse_consigner.rb
  app/services/auctions/legacy_horse_creator.rb
  app/services/auctions/racehorse_consigner.rb
  app/views/current_stable/horses/index.html.slim
  app/views/horses/index.html.slim
  config/initializers/pagy-old.rb
  config/initializers/pagy.rb
Due: slim-lint

Update outdated gems (#118)
  .active_record_doctor.rb
  .pre-commit-config.yaml
  Gemfile
  Gemfile.lock
  app/components/nav/pagination/component.html.slim
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  app/models/legacy/race_record.rb
  app/services/auctions/broodmare_consigner.rb
  app/services/auctions/horse_consigner.rb
  app/services/auctions/legacy_horse_creator.rb
  app/services/auctions/racehorse_consigner.rb
  app/views/current_stable/horses/index.html.slim
  app/views/horses/index.html.slim
  config/initializers/pagy-old.rb
  config/initializers/pagy.rb
Due: slim-lint

Fix auction selling to delete consigned auction id
  app/models/auction.rb
  app/services/auctions/horse_seller.rb
  spec/factories/legacy/horses.rb
  spec/models/auction_spec.rb
  spec/services/auctions/horse_seller_spec.rb
Due: none

delete backup tables
  app/models/horses/attributes.rb
  db/migrate/20251104131317_delete_backup_tables.rb
  db/structure.sql
Due: none

Set activity_type for budget transactions
  app/models/account/budget.rb
  app/services/accounts/budget_transaction_creator.rb
  db/data/20251104141448_update_budget_descriptions.rb
  db/data_schema.rb
  spec/api/v1/budgets_spec.rb
Due: none

Allow images by id
  app/controllers/horses_controller.rb
Due: none

Fix toast notifications, update budget balances
  app/components/nav/flash_messages/component.html.slim
  app/components/nav/flash_messages/component.rb
  app/controllers/users/sessions_controller.rb
  app/interactions/horses/search_status_count.rb
  app/javascript/controllers/flash_messages_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/notification_controller.js
  app/javascript/controllers/removals_controller.js
  app/models/account/stable.rb
  app/services/update_budget_balances_service.rb
  app/services/update_budget_timestamps_service.rb
  app/views/current_stable/budgets/_table.html.slim
  app/views/stables/_stable.html.slim
  config/ci.rb
  config/importmap.rb
  config/routes/users.rb
  spec/features/authentication/login_spec.rb
  vendor/javascript/@hotwired--stimulus.js
  vendor/javascript/@stimulus-components--notification.js
  vendor/javascript/stimulus-use.js
Due: eslint, slim-lint

Add budget timestamps job + fix manifest.json
  app/jobs/update_budget_timestamps_job.rb
  app/views/pwa/manifest.json.erb
Due: none

Debug javascript
  app/javascript/controllers/application.js
  app/javascript/controllers/index.js
  app/javascript/controllers/search_controller.js
  config/importmap.rb
Due: eslint

Update stimulus setup
  app/javascript/controllers/application.js
  app/javascript/controllers/index.js
  config/importmap.rb
Due: eslint

Update stimulus notification js setup
  app/javascript/controllers/application.js
  config/importmap.rb
Due: eslint

Update head to hopefully fix js issues
  app/views/layouts/_head.html.slim
Due: slim-lint

Update head + importmap to hopefully fix js issues
  app/views/layouts/_head.html.slim
  config/importmap.rb
Due: slim-lint

Try application.register instead of Stimulus.register
  app/javascript/controllers/application.js
Due: eslint

Register stimulus-notification in notification controller
  app/javascript/controllers/application.js
  app/javascript/controllers/notification_controller.js
  config/importmap.rb
Due: eslint

Hook up vite-rails
  .gitignore
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/javascript/controllers/application.js
  app/javascript/entrypoints/application.js
  app/views/layouts/_head.html.slim
  bin/vite
  config/deploy.rb
  config/importmap.rb
  config/initializers/content_security_policy.rb
  config/vite.json
  package.json
  vite.config.mts
  yarn.lock
Due: eslint, slim-lint

Fix notification stimulus controller
  app/components/nav/flash_messages/component.html.slim
  app/components/nav/flash_messages/component.rb
  app/javascript/controllers/application.js
  app/javascript/controllers/notification_controller.js
Due: eslint, slim-lint

Lazy load horse page tabs
  Gemfile
  app/assets/tailwind/application.css
  app/controllers/horse/foals_controller.rb
  app/controllers/horse/images_controller.rb
  app/controllers/horse/pedigrees_controller.rb
  app/controllers/horse/races_controller.rb
  app/controllers/horses_controller.rb
  app/models/dashboard/horse/foals.rb
  app/models/dashboard/horse/racing.rb
  app/services/horses/pedigree_display_service.rb
  app/views/horse/foals/_dam_foal_list.html.slim
  app/views/horse/foals/_dam_foal_summary.slim
  app/views/horse/foals/_dam_foals.html.slim
  app/views/horse/foals/_sire_foal_list.html.slim
  app/views/horse/foals/_sire_foal_summary.slim
  app/views/horse/foals/_sire_foals.html.slim
  app/views/horse/foals/index.html.slim
  app/views/horse/images/index.html.slim
  app/views/horse/pedigrees/show.html.slim
  app/views/horse/races/_desktop.slim
  app/views/horse/races/_mobile.html.slim
  app/views/horse/races/index.html.slim
  app/views/horses/_dam_foals.html.slim
  app/views/horses/_pedigree.html.slim
  app/views/horses/_photos.html.slim
  app/views/horses/_sire_foals.html.slim
  app/views/horses/show.html.slim
  config/brakeman.ignore
  config/deploy.rb
  config/environments/development.rb
  config/importmap.rb
  config/initializers/content_security_policy.rb
  config/locales/horses/en.yml
  config/routes.rb
  vendor/javascript/@stimulus-components--lightbox.js
  vendor/javascript/lightgallery.js
  yarn.lock
Due: actionlint, eslint, i18n-normalize, slim-lint, stylelint

Fix lightgallery to use CDN
  app/assets/tailwind/application.css
  app/views/layouts/_head.html.slim
Due: slim-lint, stylelint

Update job to do budget balances
  app/jobs/update_budget_balances_job.rb
  app/jobs/update_budget_timestamps_job.rb
Due: none

Add cursors to balance job
  app/jobs/update_budget_balances_job.rb
Due: none

Add API for starting/stopping/cancelling boarding
  app/controllers/api/v1/base.rb
  app/controllers/api/v1/boardings.rb
  app/jobs/update_budget_balances_job.rb
  app/models/horses/boarding.rb
  app/models/horses/horse.rb
  app/models/location.rb
  app/models/racing/racetrack.rb
  app/services/horses/boarding_creator.rb
  config/locales/services/en.yml
  db/data/20251105190310_set_farm_false_for_final_furlong_location.rb
  db/data_schema.rb
  db/migrate/20251105190103_add_farm_boolean_to_location.rb
  db/migrate/20251105191035_create_boardings.rb
  db/queue_structure.sql
  db/structure.sql
  spec/api/v1/boardings_spec.rb
  spec/factories/horses/boardings.rb
  spec/factories/locations.rb
  spec/models/horses/boarding_spec.rb
  spec/models/location_spec.rb
  spec/services/horses/boarding_creator_spec.rb
Due: actionlint, i18n-normalize

Add API for starting/stopping/cancelling boarding
  app/controllers/api/v1/boardings.rb
  app/models/horses/boarding.rb
  app/models/horses/horse.rb
  app/models/location.rb
  app/models/racing/racetrack.rb
  app/services/horses/boarding_creator.rb
  config/locales/services/en.yml
  db/data/20251105190310_set_farm_false_for_final_furlong_location.rb
  db/migrate/20251105190103_add_farm_boolean_to_location.rb
  db/migrate/20251105191035_create_boardings.rb
  db/migrate/20251105225706_update_racetrack_boarding_indexes.rb
  db/queue_structure.sql
  db/structure.sql
  spec/api/v1/boardings_spec.rb
  spec/factories/horses/boardings.rb
  spec/factories/locations.rb
  spec/factories/racing/racetracks.rb
  spec/models/horses/boarding_spec.rb
  spec/services/horses/boarding_creator_spec.rb
Due: actionlint, i18n-normalize

Add data migration for current boarding records
  .active_record_doctor.rb
  app/models/legacy/boarding.rb
  db/data/20251106093055_migrate_current_boardings.rb
  db/data_schema.rb
Due: none

Add Legacy::StableBalance class
  app/models/legacy/stable_balance.rb
Due: none

Add robots.txt
  public/robots.txt
Due: none

Update API + service for boarding
  app/controllers/api/v1/boardings.rb
  app/services/accounts/budget_transaction_creator.rb
  app/services/horses/boarding_updator.rb
  config/locales/services/en.yml
  spec/api/v1/boardings_spec.rb
  spec/services/horses/boarding_updator_spec.rb
Due: actionlint, i18n-normalize

Update boarding automatically overnight
  app/controllers/api/v1/budgets.rb
  app/controllers/authenticated_controller.rb
  app/jobs/horses/update_boarding_job.rb
  app/models/horses/boarding.rb
  app/services/accounts/budget_transaction_creator.rb
  app/services/horses/auto_boarding_updator.rb
  app/services/horses/boarding_creator.rb
  app/services/horses/boarding_updator.rb
  config/locales/stable/en.yml
  config/recurring.yml
  db/data/20251106184446_update_stable_balances.rb
  db/data_schema.rb
  db/queue_structure.sql
  db/structure.sql
  spec/api/v1/budgets_spec.rb
  spec/factories/account/budgets.rb
  spec/jobs/horses/update_boarding_job_spec.rb
  spec/services/accounts/budget_transaction_creator_spec.rb
  spec/services/horses/auto_boarding_updator_spec.rb
Due: actionlint, i18n-normalize

Update broodmare/horse records when races are run
  app/jobs/horses/update_broodmare_foal_record_job.rb
  app/jobs/horses/update_horse_attributes_job.rb
  app/services/horses/broodmare_foal_record_creator.rb
  app/services/horses/update_horse_attributes_service.rb
  app/services/populate_broodmare_foal_records_service.rb
  app/services/racing/race_result_creator.rb
  spec/models/auction_spec.rb
  spec/models/auctions/bid_spec.rb
  spec/services/racing/race_result_creator_spec.rb
Due: none

Remove transaction timeout from db structure
  db/structure.sql
Due: none

Remove transaction timeout from db structure
  db/queue_structure.sql
Due: none

Migrate from importmap to vite
  .eslintignore
  Gemfile
  Gemfile.lock
  app/controllers/current_stable/horses_controller.rb
  app/controllers/pwa/web_pushes_controller.rb
  app/javascript/application.js
  app/javascript/controllers/abandon_form_controller.js
  app/javascript/controllers/banner_controller.js
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/pwa/web_push_subscription_controller.js
  app/javascript/entrypoints/application.js
  app/views/layouts/_head.html.slim
  app/views/pwa/manifest.json.erb
  config/ci.rb
  config/importmap.rb
  config/initializers/content_security_policy.rb
  db/structure.sql
  eslint.config.mjs
  package.json
  public/robots.txt
  vite.config.mjs
  vite.config.mts
  yarn.lock
Due: eslint, slim-lint

Move vite-plugin-radar out of dev deps
  package.json
Due: none

Misc fixes for performance
  Guardfile
  app/jobs/update_legacy_horses_job.rb
  app/services/migrate_legacy_horse_service.rb
  app/services/populate_horse_attributes_service.rb
  app/views/horses/_info.html.slim
  config/locales/horses/en.yml
Due: actionlint, i18n-normalize, slim-lint

Update Guardfile
  Guardfile
Due: none
