Repository Final-Furlong/final_furlong: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, active-record-doctor, eslint, i18n-normalize, slim-lint, stylelint

actionlint:
  language: script
  name: run actionlint
  entry: actionlint

active-record-doctor:
  language: script
  name: run active record doctor
  entry: bin/active_record_doctor

eslint:
  language: script
  name: run eslint
  entry: yarn eslint --fix

i18n-normalize:
  language: script
  name: run i18n normalize
  entry: bundle exec i18n-tasks normalize

slim-lint:
  language: script
  name: run slim-lint
  entry: bin/slim-lint

stylelint:
  language: script
  name: run stylelint
  entry: yarn run stylelint --fix

Set up action cable
  config/cable.yml
  db/cable_schema.rb
Due: none

Set up solid cache/cable
  bin/setup
  config/cable.yml
  config/cache.yml
  config/environments/development.rb
  config/environments/production.rb
  db/cable_schema.rb
  db/cable_structure.sql
  db/cache_structure.sql
Due: none

Remove UUID references
  config/initializers/generators.rb
  spec/factories/legacy/horses.rb
Due: none

Fix fetching horse by legacy ID for images
  app/controllers/horses_controller.rb
Due: none

Add ruby-version ref in Gemfile, ignore solid cable for ARD
  .active_record_doctor.rb
  Gemfile
Due: none

Add cache database config for CI
  .github/workflows/_ci.yml
  config/database.yml.github_actions
Due: none

Show number of expectations from RSpec
  spec/spec_helper.rb
  spec/support/rspec_show_expectations.rb
Due: none

Remove legacy models that do not have tables anymore
  .active_record_doctor.rb
  app/models/legacy/boarding.rb
  app/models/legacy/stable_balance.rb
  app/services/migrate_legacy_race_results_service.rb
Due: none

Add more info to horse info, fix horse parent links
  app/models/horses/horse.rb
  app/services/horses/pedigree_display_service.rb
  app/views/horse/foals/_dam_foal_list.html.slim
  app/views/horse/foals/_sire_foal_list.html.slim
  app/views/horse/pedigrees/show.html.slim
  app/views/horses/_info.html.slim
Due: slim-lint

Rubocop
  .active_record_doctor.rb
  spec/support/rspec_show_expectations.rb
Due: none

Add leases table
  app/models/account/activity.rb
  app/models/account/budget.rb
  app/models/account/push_subscription.rb
  app/models/account/setting.rb
  app/models/account/stable.rb
  app/models/auction.rb
  app/models/auctions/bid.rb
  app/models/auctions/consignment_config.rb
  app/models/auctions/horse.rb
  app/models/game/activity.rb
  app/models/game/alert.rb
  app/models/horses/appearance.rb
  app/models/horses/attributes.rb
  app/models/horses/broodmare_foal_record.rb
  app/models/horses/genetics.rb
  app/models/horses/horse.rb
  app/models/horses/lease.rb
  app/models/location.rb
  app/models/racing/jockey.rb
  app/models/racing/odd.rb
  app/models/racing/race_result.rb
  app/models/racing/race_result_horse.rb
  app/models/racing/race_schedule.rb
  app/models/racing/racetrack.rb
  app/models/racing/track_surface.rb
  app/models/racing/training_schedule_horse.rb
  db/migrate/20251107213855_create_leases.rb
  db/structure.sql
  spec/factories/account/budgets.rb
  spec/factories/account/stables.rb
  spec/factories/auctions.rb
  spec/factories/auctions/bids.rb
  spec/factories/auctions/horses.rb
  spec/factories/horses/horses.rb
  spec/factories/locations.rb
  spec/factories/racing/jockeys.rb
  spec/factories/racing/race_results.rb
  spec/factories/racing/race_schedules.rb
  spec/factories/racing/racetracks.rb
  spec/factories/racing/track_surfaces.rb
Due: none

Upgrade to postgres 18 for CI
  .github/workflows/_ci.yml
Due: none

Autocorrect generated files in development
  .slim-lint.yml
  config/environments/development.rb
Due: none

Override rubyopts for capistrano deploy
  config/deploy.rb
Due: none

Remove override rubyopts for capistrano deploy
  config/deploy.rb
Due: none

Remove cypress references
  .eslintrc.json
  .github/workflows/_ci.yml
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
  package.json
  yarn-audit-known-issues
  yarn.lock
Due: none

Fix EsLint
  eslint.config.mjs
  package.json
  yarn.lock
Due: eslint

Update recurring jobs to list better
  config/recurring.yml
Due: none

Adjust recurring schedule for monthly auction
  config/recurring.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Allow user to set theme + dark mode
  .github/workflows/_ci.yml
  app/assets/tailwind/application.css
  app/components/nav/i18n/component.html+phone.slim
  app/components/nav/i18n/component.html.slim
  app/controllers/settings_controller.rb
  app/javascript/utils/debounce.js
  app/javascript/utils/debug.js
  app/javascript/utils/dom-ready.js
  app/javascript/utils/index.js
  app/models/account/setting.rb
  app/policies/account/settings_policy.rb
  app/services/accounts/cookie_locale_syncer.rb
  app/services/accounts/settings_updater.rb
  app/views/layouts/_dock.html.slim
  app/views/layouts/_flash.html.slim
  app/views/layouts/_head.html.slim
  app/views/layouts/_sidenav.html.slim
  app/views/layouts/_theme_selector.slim
  app/views/layouts/_user_sidenav.html.slim
  app/views/layouts/application.html.slim
  app/views/pages/home.html.slim
  app/views/settings/_form.html.slim
  app/views/settings/new.html.slim
  config/initializers/simple_form_daisyui.rb
  config/locales/activerecord/en.yml
  config/locales/common/en.yml
  config/locales/en.yml
  config/locales/nav/en.yml
  config/routes/users.rb
  db/migrate/20251108220626_add_more_settings.rb
  db/structure.sql
Due: eslint, slim-lint, stylelint

Restore js to respect dark mode pref
  app/views/layouts/_theme_selector.slim
Due: slim-lint

Add view higlights/comments/shipping actions
  app/policies/current_stable/horse_policy.rb
  app/services/horses/actions_list_generator.rb
Due: none

Fix horse search and add auto-submit
  app/components/horses/search_filters/component.html.slim
  app/components/horses/status_search/component.rb
  app/javascript/controllers/application.js
  app/views/horses/index.html.slim
  package.json
  yarn.lock
Due: eslint, slim-lint

Apply updates to stable horses view
  app/components/horses/search_filters/component.html.slim
  app/controllers/application_controller.rb
  app/controllers/current_stable/horses_controller.rb
  app/interactions/horses/search_status_count.rb
  app/views/current_stable/horses/_table.html.slim
  app/views/current_stable/horses/index.html.slim
Due: slim-lint

Fix sidebar nav on mobile
  app/views/layouts/_sidenav.html.slim
  app/views/layouts/application.html.slim
  config/locales/nav/en.yml
Due: slim-lint

Fix tests
  app/views/layouts/_sidenav.html.slim
  app/views/layouts/application.html.slim
  spec/support/shared/accessibility_examples.rb
Due: slim-lint

Create stud foal records
  app/models/dashboard/horse/foals.rb
  app/models/horses/horse.rb
  app/models/horses/stud_foal_record.rb
  app/services/horses/stud_foal_record_creator.rb
  app/services/populate_stud_foal_records_service.rb
  app/views/horse/foals/_sire_foal_collapse.slim
  app/views/horse/foals/_sire_foal_list.html.slim
  app/views/horse/foals/_sire_foal_summary.slim
  app/views/horse/foals/_sire_foals.html.slim
  app/views/horses/show.html.slim
  app/views/layouts/_top_nav.html.slim
  config/locales/horses/en.yml
  db/migrate/20251113202832_create_stud_foal_record.rb
  db/structure.sql
  spec/factories/horses/lease_offers.rb
  spec/factories/horses/leases.rb
Due: slim-lint

CI fixes
  app/models/horses/stud_foal_record.rb
  config/locales/activerecord/en.yml
  config/locales/horses/en.yml
  db/migrate/20251114085550_add_unique_index_to_stud_foal_record.rb
  db/structure.sql
Due: none

Optimise broodmare/stud record updating for races
  .qlty/.gitignore
  .qlty/configs/.shellcheckrc
  .qlty/configs/.yamllint.yaml
  .qlty/qlty.toml
  .rubocop.yml
  .rubocop_strict.yml
  app/jobs/horses/update_stud_foal_record_job.rb
  app/jobs/racing/race_day_updater_job.rb
  app/models/horses/horse.rb
  app/models/racing/race_result_horse.rb
  app/services/racing/race_record_updater.rb
  app/services/racing/race_result_creator.rb
  bin/yarn_audit.sh
  config/brakeman.ignore
  spec/factories/racing/race_result_horses.rb
  spec/services/racing/race_record_updater_spec.rb
  spec/services/racing/race_result_creator_spec.rb
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create MIT License
  LICENSE
Due: none

Update README, add contributing guide
  BUILD_DETAIL.md
  CONTRIBUTING.md
  README.md
Due: none

Hook up Qlty code coverage publishing
  .github/workflows/_ci.yml
Due: none

Fix secrets for main CI
  .github/workflows/_ci.yml
  README.md
Due: none

Path conditions:
  actionlint: any of: \/\.github\/workflow\/.+\.yml$
  active-record-doctor: any of: \/db\/migrate\/.+\.rb
  eslint: any of: \.(js|mjs|cjs)$
  i18n-normalize: any of: \/config\/locales\/.+\.yml
  slim-lint: any of: \.slim$
  stylelint: any of: \.css$
