Repository Final-Furlong/final_furlong: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, active-record-doctor, eslint, i18n-normalize, slim-lint, stylelint

actionlint:
  language: script
  name: run actionlint
  entry: actionlint

active-record-doctor:
  language: script
  name: run active record doctor
  entry: bin/active_record_doctor

eslint:
  language: script
  name: run eslint
  entry: yarn eslint --fix

i18n-normalize:
  language: script
  name: run i18n normalize
  entry: bundle exec i18n-tasks normalize

slim-lint:
  language: script
  name: run slim-lint
  entry: bin/slim-lint

stylelint:
  language: script
  name: run stylelint
  entry: yarn run stylelint --fix

Fix warden timeout for ApplicationCable connection
  app/channels/application_cable/connection.rb
Due: none

Fix bug in auction bid creator that sets current bid to max amount
  app/services/auctions/bid_creator.rb
  spec/services/auctions/bid_creator_spec.rb
Due: none

Fix process sales job
  app/jobs/auctions/process_sales_job.rb
  spec/services/auctions/bid_creator_spec.rb
Due: none

Update process sales job to avoid infinite loop for re-triggering
  app/jobs/auctions/process_sales_job.rb
Due: none

Fix horse seller to allow sales after 1 day post-auction
  app/models/auction.rb
  app/services/auctions/horse_seller.rb
Due: none

Fix auction ended check
  app/models/auction.rb
  spec/models/auction_spec.rb
  spec/services/auctions/horse_seller_spec.rb
Due: none

Fix horse seller money spent check
  app/services/auctions/horse_seller.rb
Due: none

Fix horse seller money/horses check
  app/services/auctions/horse_seller.rb
Due: none

Set up playwright for capybara
  .gitignore
  Gemfile
  Gemfile.lock
  bin/setup
  config/ci.rb
  package.json
  playwright.config.js
  pnpm-lock.yaml
  spec/support/capybara.rb
Due: eslint

Update playwright install
  bin/setup
  config/ci.rb
  pnpm-lock.yaml
Due: none

Try tracing/screenshots
  .semaphore/semaphore.yml
  spec/features/authentication/login_spec.rb
Due: none

Try tracing/screenshots
  .semaphore/semaphore.yml
  spec/features/authentication/login_spec.rb
  spec/rails_helper.rb
Due: none

update specs
  app/models/horses/sale_offer.rb
  spec/features/authentication/login_spec.rb
  spec/jobs/auctions/process_sales_job_spec.rb
Due: none

update sale offer
  app/models/horses/sale_offer.rb
Due: none

update specs
  app/models/horses/lease_offer.rb
  app/models/horses/sale_offer.rb
  spec/features/authentication/login_spec.rb
  spec/jobs/auctions/process_sales_job_spec.rb
Due: none

update specs
  app/services/auctions/bid_creator.rb
  spec/features/authentication/login_spec.rb
  spec/support/capybara.rb
Due: none

Misc fixes
  app/models/horses/lease_offer.rb
  app/models/horses/sale_offer.rb
  app/services/auctions/bid_creator.rb
  spec/support/capybara.rb
Due: none

Set up playwright for capybara
  .gitignore
  .semaphore/semaphore.yml
  Gemfile
  Gemfile.lock
  app/models/horses/lease_offer.rb
  app/models/horses/sale_offer.rb
  app/services/auctions/bid_creator.rb
  bin/setup
  config/ci.rb
  package.json
  playwright.config.js
  pnpm-lock.yaml
  spec/jobs/auctions/process_sales_job_spec.rb
  spec/rails_helper.rb
  spec/support/capybara.rb
Due: eslint

Add notification component
  app/assets/tailwind/alerts.css
  app/assets/tailwind/application.css
  app/components/ui/alert/component.html.slim
  app/components/ui/alert/component.rb
  app/models/notification.rb
  app/notifications/auction_outbid_notification.rb
  app/notifications/lease_acceptance_notification.rb
  app/notifications/lease_expiry_notification.rb
  app/notifications/lease_offer_expiry_notification.rb
  app/notifications/lease_rejection_notification.rb
  app/notifications/sale_acceptance_notification.rb
  app/notifications/sale_offer_expiry_notification.rb
  app/notifications/sale_rejection_notification.rb
  app/views/notifications/_notification.html.slim
  app/views/notifications/lease_acceptance_notification/_view_horse.html.slim
  app/views/notifications/shared/_view_horse.html.slim
  config/locales/common/en.yml
  config/locales/en.yml
Due: slim-lint, stylelint

Update Brakeman version
  Gemfile.lock
Due: none

Add notification component
  app/assets/tailwind/alerts.css
  app/assets/tailwind/application.css
  app/components/ui/alert/component.html.slim
  app/components/ui/alert/component.rb
  app/models/notification.rb
  app/notifications/auction_outbid_notification.rb
  app/notifications/lease_acceptance_notification.rb
  app/notifications/lease_expiry_notification.rb
  app/notifications/lease_offer_expiry_notification.rb
  app/notifications/lease_rejection_notification.rb
  app/notifications/sale_acceptance_notification.rb
  app/notifications/sale_offer_expiry_notification.rb
  app/notifications/sale_rejection_notification.rb
  app/views/notifications/_notification.html.slim
  app/views/notifications/lease_acceptance_notification/_view_horse.html.slim
  app/views/notifications/shared/_view_horse.html.slim
  config/locales/common/en.yml
  config/locales/en.yml
  config/locales/notifications/en.yml
Due: slim-lint, stylelint

Set up stopping boarding
  app/controllers/horse/boardings_controller.rb
  app/models/dashboard/horse/boarding.rb
  app/models/horses/boarding.rb
  app/policies/current_stable/racehorse_policy.rb
  app/policies/horses/boarding_policy.rb
  app/policies/horses/horse_policy.rb
  app/services/horses/boarding_updater.rb
  app/views/horse/boardings/destroy.turbo_stream.slim
  app/views/horse/events/boardings.html.slim
  app/views/horse/events/index.html.slim
  app/views/horses/_table.html.slim
  app/views/horses/actions/_stop_boarding.html.slim
  app/views/horses/show.html.slim
  config/locales/horse/en.yml
  config/routes/horses.rb
  spec/features/horses/boarding_spec.rb
  spec/models/horses/boarding_spec.rb
Due: slim-lint

Set up stopping boarding
  app/controllers/horse/boardings_controller.rb
  app/models/dashboard/horse/boarding.rb
  app/models/horses/boarding.rb
  app/policies/current_stable/racehorse_policy.rb
  app/policies/horses/boarding_policy.rb
  app/policies/horses/horse_policy.rb
  app/services/horses/boarding_updater.rb
  app/views/horse/boardings/destroy.turbo_stream.slim
  app/views/horse/events/boardings.html.slim
  app/views/horse/events/index.html.slim
  app/views/horses/_table.html.slim
  app/views/horses/actions/_stop_boarding.html.slim
  app/views/horses/show.html.slim
  config/i18n-tasks.yml
  config/locales/horse/en.yml
  config/routes/horses.rb
  spec/features/horses/boarding_spec.rb
  spec/models/horses/boarding_spec.rb
Due: slim-lint

Fix remove from auction check
  app/policies/current_stable/horse_policy.rb
Due: none

Add test for settings updater
  app/services/accounts/settings_updater.rb
  spec/services/accounts/settings_updater_spec.rb
Due: none

Modify solid queue settings for production
  config/queue.yml
Due: none

Restart solid queue on deploy
  config/deploy.rb
  lib/capistrano/tasks/solid_queue.rake
Due: none

Remove user solid_queue stuff from capistrano
  Capfile
  Gemfile
  Gemfile.lock
  config/deploy.rb
  lib/capistrano/tasks/solid_queue.rake
Due: none

Set up auction watch page & fix bidding if reserve is not met
  app/controllers/current_stable/auctions_controller.rb
  app/models/auctions/bid.rb
  app/models/auctions/horse.rb
  app/models/dashboard/stable/auction.rb
  app/policies/auctions/bid_policy.rb
  app/policies/auctions/horse_policy.rb
  app/services/auctions/bid_creator.rb
  app/services/auctions/horse_creator.rb
  app/services/auctions/legacy_horse_creator.rb
  app/views/auctions/_table.html.slim
  app/views/auctions/horses/_bidding.html.slim
  app/views/current_stable/auctions/index.html.slim
  app/views/horses/index.html.slim
  app/views/layouts/_user_sidenav.html.slim
  config/locales/activerecord/en.yml
  config/locales/auctions/en.yml
  config/locales/nav/en.yml
  config/locales/stable/en.yml
  config/routes/current_stable.rb
  db/data/20251230105059_store_stables_on_auction_horses.rb
  db/data_schema.rb
  db/migrate/20251230104641_add_stables_to_auction_horse.rb
  db/structure.sql
  spec/factories/auctions/horses.rb
  spec/services/auctions/bid_creator_spec.rb
Due: slim-lint

Remove data migration
  db/data/20251230105059_store_stables_on_auction_horses.rb
Due: none

Path conditions:
  actionlint: any of: \/\.github\/workflow\/.+\.yml$
  active-record-doctor: any of: \/db\/migrate\/.+\.rb
  eslint: any of: \.(js|mjs|cjs)$
  i18n-normalize: any of: \/config\/locales\/.+\.yml
  slim-lint: any of: \.slim$
  stylelint: any of: \.css$
