Repository Final-Furlong/final_furlong: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, active-record-doctor, eslint, i18n-normalize, slim-lint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: check spelling
        files: ^(app|spec)/ # Only application + test code
        args: [ "--exclude-file=yarn.lock" ]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        name: check for hardcoded secrets
  - repo: https://github.com/rubocop/rubocop
    rev: v1.81.1
    hooks:
      - id: rubocop
        name: 'run rubocop'
        additional_dependencies:
          - rubocop-capybara
          - rubocop-factory_bot
          - rubocop-graphql
          - rubocop-performance
          - rubocop-rails
          - rubocop-rake
          - rubocop-rspec
          - rubocop-rspec_rails
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        name: run prettier
        files: ^app/(assets/tailwind|javascript)/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  - repo: local
    hooks:
      - id: actionlint
        language: script
        name: run actionlint
        files: \/\.github\/workflow\/.+\.yml$
        entry: actionlint
      - id: active-record-doctor
        language: script
        name: run active record doctor
        files: \/db\/migrate\/.+\.rb
        entry: bin/active_record_doctor
      - id: eslint
        language: script
        name: run eslint
        types: [ javascript ]
        entry: yarn eslint --fix
      - id: fasterer
        language: script
        name: run fasterer
        types: [ ruby ]
        entry: bin/fasterer
      - id: i18n-normalize
        language: script
        name: run i18n normalize
        files: \/config\/locales\/.+\.yml
        entry: bundle exec i18n-tasks normalize
      - id: image-optim
        language: script
        name: run image-optim
        types_or: [ jpeg, gif, png, svg ]
        entry: image_optim
      - id: slim-lint
        language: script
        name: run slim-lint
        files: \.slim$
        entry: bin/slim-lint
      - id: stylelint
        language: script
        name: run stylelint
        files: \.css$
        entry: yarn run stylelint --fix

Update Sentry info for new account
  config/initializers/sentry.rb
Due: none

Try running on apple machine instead
  .semaphore/semaphore.yml
Due: none

Update semaphore
  .semaphore/semaphore.yml
Due: none

Try ruby 3.4.7
  .semaphore/semaphore.yml
Due: none

ruby update
  .semaphore/semaphore.yml
Due: none

update-semaphore
  .semaphore/semaphore.yml
Due: none

Allow in-place editing of name
  app/controllers/horses_controller.rb
  app/models/horses/horse.rb
  app/policies/current_stable/horse_policy.rb
  app/policies/horses/horse_policy.rb
  app/queries/horses/horses_query.rb
  app/services/horses/actions_list_generator.rb
  app/services/horses/name_updater.rb
  app/validation/final_furlong/horses/validation.rb
  app/views/horses/_edit_name_form.html.slim
  app/views/horses/_info.html.slim
  app/views/horses/edit_name.html.slim
  config/locales/horses/en.yml
  config/routes/horses.rb
  spec/policies/horses/horse_policy_spec.rb
Due: slim-lint

Create horse sale for auction sales
  app/services/auctions/horse_seller.rb
  spec/services/auctions/horse_seller_spec.rb
Due: none

Add horse sale creator + actions/notifications
  app/controllers/current_stable/sale_offers_controller.rb
  app/controllers/horse/sale_offer_acceptances_controller.rb
  app/notifications/sale_acceptance_notification.rb
  app/notifications/sale_rejection_notification.rb
  app/policies/current_stable/horse_policy.rb
  app/policies/current_stable/sale_offer_policy.rb
  app/services/horses/actions_list_generator.rb
  app/services/horses/sale_creator.rb
  app/views/current_stable/horses/index.html.slim
  app/views/horses/actions/_accept_sale_offer.html.slim
  app/views/horses/actions/_destroy_sale_offer.html.slim
  config/locales/horse/en.yml
  config/locales/notifications/en.yml
  config/locales/services/en.yml
  spec/services/horses/sale_creator_spec.rb
Due: slim-lint

Allow in-place editing of name
  app/controllers/horses_controller.rb
  app/models/horses/horse.rb
  app/policies/current_stable/horse_policy.rb
  app/policies/horses/horse_policy.rb
  app/queries/horses/horses_query.rb
  app/services/horses/actions_list_generator.rb
  app/services/horses/name_updater.rb
  app/validation/final_furlong/horses/validation.rb
  app/views/horses/_edit_name_form.html.slim
  app/views/horses/_info.html.slim
  app/views/horses/edit_name.html.slim
  config/locales/horses/en.yml
  config/routes/horses.rb
  spec/policies/horses/horse_policy_spec.rb
  spec/services/horses/name_updater_spec.rb
Due: slim-lint

Swap out FontAwesome with Phospher
  app/components/forms/error_messages/component.html.slim
  app/components/horses/search_filters/component.html+phone.slim
  app/components/horses/search_filters/component.html+tablet.slim
  app/components/nav/flash_messages/component.html.slim
  app/components/nav/flash_messages/component.rb
  app/views/current_stable/budgets/_horse.html.slim
  app/views/current_stable/horses/_horse.html.slim
  app/views/current_stable/horses/_table.html.slim
  app/views/current_stable/horses/show.html.slim
  app/views/current_stable/training_schedules/_training_schedule.html.slim
  app/views/horse/lease_offers/_form.html.slim
  app/views/horse/sale_offers/_form.html.slim
  app/views/horses/_horse.html.slim
  app/views/horses/_table.html.slim
  app/views/horses/lease_offers/_table.html.slim
  app/views/horses/sale_offers/_table.html.slim
  app/views/layouts/_admin_sidenav.html.slim
  app/views/layouts/_dock.html.slim
  app/views/layouts/_head.html.slim
  app/views/layouts/_notifications.html.slim
  app/views/layouts/_sidenav.html.slim
  app/views/layouts/_top_nav.html.slim
  app/views/layouts/_user_sidenav.html.slim
  app/views/notifications/_notification.html.slim
  app/views/notifications/index.html.slim
  app/views/users/_user.html.slim
  spec/features/current_stable/horses/show_spec.rb
Due: slim-lint

Swap out FontAwesome with Phospher
  app/components/forms/error_messages/component.html.slim
  app/components/horses/search_filters/component.html+phone.slim
  app/components/horses/search_filters/component.html+tablet.slim
  app/components/nav/flash_messages/component.html.slim
  app/components/nav/flash_messages/component.rb
  app/views/current_stable/budgets/_horse.html.slim
  app/views/current_stable/horses/_horse.html.slim
  app/views/current_stable/horses/_table.html.slim
  app/views/current_stable/horses/show.html.slim
  app/views/current_stable/training_schedules/_training_schedule.html.slim
  app/views/horse/lease_offers/_form.html.slim
  app/views/horse/sale_offers/_form.html.slim
  app/views/horses/_horse.html.slim
  app/views/horses/_table.html.slim
  app/views/horses/lease_offers/_table.html.slim
  app/views/horses/sale_offers/_table.html.slim
  app/views/layouts/_admin_sidenav.html.slim
  app/views/layouts/_dock.html.slim
  app/views/layouts/_head.html.slim
  app/views/layouts/_notifications.html.slim
  app/views/layouts/_sidenav.html.slim
  app/views/layouts/_top_nav.html.slim
  app/views/layouts/_user_sidenav.html.slim
  app/views/notifications/_notification.html.slim
  app/views/notifications/index.html.slim
  app/views/users/_user.html.slim
  config/locales/nav/en.yml
  spec/features/current_stable/horses/show_spec.rb
Due: slim-lint

Migrate from Yarn to pnpm
  .semaphore/semaphore.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: none

Migrate from Yarn to pnpm
  .semaphore/semaphore.yml
  Capfile
  Gemfile
  Gemfile.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: none

Update pnpm setup for deploy
  bin/pnpm
  bin/setup
  bin/update
  config/deploy.rb
  lib/tasks/pnpm.rake
  package.json
Due: none

Disable capistrano pnpm
  Capfile
Due: none

Fix deploy.rb
  config/deploy.rb
  lib/tasks/pnpm.rake
Due: none

Fix rake task location
  Capfile
  bin/yarn
  lib/capistrano/tasks/pnpm.rake
Due: none

Set up biome + pnpm
  .gitignore
  .pre-commit-config.yaml
  .qlty/qlty.toml
  .semaphore/nightly.yml
  .stylelintrc.json
  .zed/settings.json
  Procfile.debug
  app/assets/tailwind/application.css
  app/assets/tailwind/horse.css
  app/javascript/controllers/index.js
  app/javascript/controllers/search_controller.js
  app/javascript/utils/index.js
  app/jobs/daily/create_activations_job.rb
  app/jobs/daily/morning_updates_job.rb
  app/models/schemas/training_schedule_activities.json
  bin/pnpm_audit.sh
  biome.json
  ci_results.txt
  config/ci.rb
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-audit-known-issues
  pnpm-lock.yaml
  stylelint.config.mjs
  vite.config.mjs
Due: eslint, stylelint

debug pa
  .semaphore/semaphore.yml
  bin/pnpm_audit.sh
Due: none

debug pa
  bin/pnpm_audit.sh
Due: none
