Repository Final-Furlong/final_furlong: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, active-record-doctor, eslint, i18n-normalize, slim-lint, stylelint

actionlint:
  language: script
  name: run actionlint
  entry: actionlint

active-record-doctor:
  language: script
  name: run active record doctor
  entry: bin/active_record_doctor

eslint:
  language: script
  name: run eslint
  entry: yarn eslint --fix

i18n-normalize:
  language: script
  name: run i18n normalize
  entry: bundle exec i18n-tasks normalize

slim-lint:
  language: script
  name: run slim-lint
  entry: bin/slim-lint

stylelint:
  language: script
  name: run stylelint
  entry: yarn run stylelint --fix

Set up biome + pnpm
  .gitignore
  .pre-commit-config.yaml
  .qlty/qlty.toml
  .semaphore/nightly.yml
  .semaphore/semaphore.yml
  .stylelintrc.json
  .zed/settings.json
  Procfile.debug
  app/assets/tailwind/application.css
  app/assets/tailwind/horse.css
  app/javascript/controllers/index.js
  app/javascript/controllers/search_controller.js
  app/javascript/utils/index.js
  app/jobs/daily/create_activations_job.rb
  app/jobs/daily/morning_updates_job.rb
  app/models/schemas/training_schedule_activities.json
  bin/pnpm_audit.sh
  biome.json
  ci_results.txt
  config/ci.rb
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-audit-known-issues
  pnpm-lock.yaml
  stylelint.config.mjs
  vite.config.mjs
Due: eslint, stylelint

Set up biome + pnpm
  .gitignore
  .pre-commit-config.yaml
  .qlty/qlty.toml
  .semaphore/nightly.yml
  .semaphore/semaphore.yml
  .stylelintrc.json
  .zed/settings.json
  Procfile.debug
  app/assets/tailwind/application.css
  app/assets/tailwind/horse.css
  app/javascript/controllers/index.js
  app/javascript/controllers/search_controller.js
  app/javascript/utils/index.js
  app/jobs/daily/create_activations_job.rb
  app/jobs/daily/morning_updates_job.rb
  app/models/schemas/training_schedule_activities.json
  bin/yarn_audit.sh
  biome.json
  ci_results.txt
  config/ci.rb
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stylelint.config.mjs
  vite.config.mjs
  yarn-audit-known-issues
Due: eslint, stylelint

Ignore local zed settings
  .gitignore
  .zed/settings.json
  config/ci.rb
Due: none

Fix flash message rendering on mobile view
  app/controllers/users/sessions_controller.rb
  app/views/layouts/_flash.html.slim
  config/ci.rb
Due: slim-lint

Start setting up shipments
  Gemfile.lock
  app/assets/tailwind/application.css
  app/jobs/update_shipping_routes_job.rb
  app/models/horses/broodmares/shipping.rb
  app/models/legacy/horse.rb
  app/models/legacy/horse_sale.rb
  app/models/shipping/route.rb
  db/migrate/20251122155624_create_racehorse_shipping.rb
  db/migrate/20251122162900_create_shipment_routes.rb
  db/structure.sql
  spec/factories/legacy/horses.rb
Due: stylelint

continue working on shipments
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/horse/shipments_controller.rb
  app/jobs/update_legacy_shipment_job.rb
  app/jobs/update_legacy_shipments_job.rb
  app/jobs/update_shipping_routes_job.rb
  app/models/dashboard/horse/shipments.rb
  app/models/horses/horse.rb
  app/models/horses/horse/broodmare.rb
  app/models/horses/horse/racing.rb
  app/models/horses/horse/stud.rb
  app/models/shipping/broodmare_shipment.rb
  app/models/shipping/racehorse_shipment.rb
  app/models/shipping/route.rb
  app/policies/current_stable/horse_policy.rb
  app/services/horses/actions_list_generator.rb
  app/services/migrate_legacy_shipment_service.rb
  app/services/migrate_legacy_shipments_service.rb
  app/services/update_budget_balances_service.rb
  app/services/update_budget_timestamps_service.rb
  app/views/current_stable/horses/_table.html.slim
  app/views/horse/events/index.html.slim
  app/views/horse/events/shipments.html.slim
  app/views/horse/shipments/_form.html.slim
  app/views/horse/shipments/new.html.slim
  app/views/horses/_info.html.slim
  app/views/horses/actions/_ship.html.slim
  app/views/layouts/_head.html.slim
  config/locales/horse/en.yml
  config/routes/horses.rb
  db/migrate/20251122155624_create_racehorse_shipping.rb
  db/structure.sql
  package.json
  pnpm-lock.yaml
  public/assets/sortable-base.min.css
  public/assets/sortable.a11y.min.js
  public/assets/sortable.min.js
Due: eslint, slim-lint, stylelint

Lint fixes
  app/assets/tailwind/application.css
  app/javascript/controllers/index.js
  app/models/shipping/broodmare_shipment.rb
  app/models/shipping/racehorse_shipment.rb
  app/models/shipping/route.rb
  app/services/horses/broodmare/future_shipment_processor.rb
  app/services/horses/racing/future_shipment_processor.rb
  app/services/migrate_legacy_shipment_service.rb
  app/services/migrate_legacy_shipments_service.rb
  app/views/horse/shipments/_racing_form.html.slim
  biome.json
  config/locales/horse/en.yml
  db/cable_structure.sql
  db/cache_structure.sql
  db/migrate/20251122155624_create_racehorse_shipping.rb
  db/queue_structure.sql
  db/structure.sql
  public/assets/sortable-base.min.css
  public/assets/sortable.a11y.min.js
  public/assets/sortable.min.js
  spec/models/horses/horse/broodmare_spec.rb
  spec/models/horses/horse/stud_spec.rb
  spec/models/shipping/broodmare_shipment_spec.rb
  spec/models/shipping/racehorse_shipment_spec.rb
Due: eslint, slim-lint, stylelint

More linting
  config/locales/horse/en-GB.yml
  config/locales/horse/en.yml
  db/cable_structure.sql
  db/cache_structure.sql
  db/legacy_structure.sql
Due: none

Restore db structure
  db/legacy_structure.sql
  db/queue_structure.sql
Due: none

Fix auction processing when no bids are happening
  app/jobs/auctions/process_sales_job.rb
Due: none

Display racing schedule
  app/controllers/current_stable/shipments_controller.rb
  app/controllers/racing/races_controller.rb
  app/jobs/horses/update_horse_attributes_job.rb
  app/jobs/update_legacy_shipment_job.rb
  app/jobs/update_legacy_shipments_job.rb
  app/jobs/update_racehorse_stats_job.rb
  app/models/dashboard/stable/shipments.rb
  app/models/racing/race_schedule.rb
  app/models/racing/track_surface.rb
  app/models/shipping/broodmare_shipment.rb
  app/models/shipping/racehorse_shipment.rb
  app/policies/racing/race_schedule_policy.rb
  app/services/horses/broodmare_foal_record_creator.rb
  app/services/horses/stud_foal_record_creator.rb
  app/views/current_stable/shipments/_table.html.slim
  app/views/current_stable/shipments/index.html.slim
  app/views/horses/index.html.slim
  app/views/layouts/_user_sidenav.html.slim
  app/views/racing/races/_prev_next_dates.html.slim
  app/views/racing/races/index.html.slim
  config/locales/nav/en.yml
  config/locales/racing/en.yml
  config/routes.rb
  config/routes/racing.rb
Due: slim-lint

Fix linting/tests
  app/models/shipping/broodmare_shipment.rb
  app/models/shipping/racehorse_shipment.rb
  config/locales/nav/en.yml
  config/locales/racing/en.yml
Due: none

Fix linting/tests v2
  app/models/racing/race_schedule.rb
Due: none

Fix padding for mobile view / dock
  app/views/layouts/_flash.html.slim
  app/views/layouts/application.html.slim
Due: slim-lint

Fix auction sales job queueing
  app/jobs/auctions/process_sales_job.rb
Due: none

Fix ransack scope for auction
  app/models/auction.rb
Due: none

Include public/assets folder in upload
  config/deploy.rb
Due: none

Use CDN for sortable files
  app/views/layouts/_head.html.slim
  config/deploy.rb
  public/assets/sortable-base.min.css
  public/assets/sortable.a11y.min.js
  public/assets/sortable.min.js
Due: eslint, slim-lint, stylelint

Remove sortable CSS file
  app/views/layouts/_head.html.slim
Due: slim-lint

Add minimal sortable CSS
  app/views/layouts/_head.html.slim
Due: slim-lint

Display race results
  app/controllers/racing/races_controller.rb
  app/controllers/racing/results_controller.rb
  app/models/concerns/race_typeable.rb
  app/models/racing/race_result.rb
  app/models/racing/race_schedule.rb
  app/policies/racing/race_result_policy.rb
  app/views/layouts/_user_sidenav.html.slim
  app/views/layouts/application.html.slim
  app/views/racing/results/_prev_next_dates.html.slim
  app/views/racing/results/_prev_next_numbers.html.slim
  app/views/racing/results/_race_result.html.slim
  app/views/racing/results/index.html.slim
  app/views/racing/results/show.html.slim
  config/locales/nav/en.yml
  config/locales/racing/en.yml
  config/routes/racing.rb
Due: slim-lint

Display race results on horse page
  app/assets/tailwind/horse.css
  app/controllers/horse/races_controller.rb
  app/models/concerns/race_typeable.rb
  app/models/dashboard/horse/racing.rb
  app/models/racing/race_result.rb
  app/models/racing/race_result_horse.rb
  app/views/horse/races/_desktop.slim
  app/views/horse/races/_desktop_year.slim
  app/views/horse/races/_mobile.html.slim
  app/views/horse/races/_mobile_year.html.slim
  app/views/horse/races/index.html.slim
  config/locales/horse/en.yml
Due: slim-lint, stylelint

Display race results in 4Q format
  app/views/horse/races/_desktop_year.slim
  app/views/horse/races/_mobile_year.html.slim
  app/views/racing/results/_prev_next_numbers.html.slim
  app/views/racing/results/_race_result_furlongs.html.slim
  app/views/racing/results/_race_result_quarters.html.slim
  app/views/racing/results/show.html.slim
  config/initializers/inflections.rb
  config/locales/racing/en.yml
Due: slim-lint

Fix linting
  config/initializers/inflections.rb
Due: none

Update settings page
  .active_record_doctor.rb
  app/assets/tailwind/horse.css
  app/controllers/settings_controller.rb
  app/models/account/setting.rb
  app/models/account/settings/racing.rb
  app/models/account/settings/website.rb
  app/models/horses/horse.rb
  app/models/racing/race_schedule.rb
  app/services/accounts/cookie_locale_syncer.rb
  app/services/accounts/settings_updater.rb
  app/views/current_stable/settings/new.html.slim
  app/views/devise/registrations/edit.html.slim
  app/views/horse/foals/_dam_foal_list.html.slim
  app/views/horse/foals/_dam_foal_summary.slim
  app/views/layouts/_admin_sidenav.html.slim
  app/views/layouts/_head.html.slim
  app/views/layouts/_theme_selector.slim
  app/views/settings/_form.html.slim
  app/views/settings/_racing_form.html.slim
  app/views/settings/_website_form.html.slim
  app/views/settings/new.html.slim
  config/locales/activerecord/en.yml
  config/locales/en.yml
  config/locales/form/en.yml
  config/locales/stable/en.yml
  db/data/20251203102358_migrate_settings_to_website_json.rb
  db/data_schema.rb
  db/migrate/20251203101405_add_fields_to_settings.rb
  db/migrate/20251203143224_active_record_doctor_fixes_dec3.rb
  db/structure.sql
  spec/factories/horses/horses.rb
  spec/factories/racing/race_schedules.rb
Due: slim-lint, stylelint

Fix default value for time zone
  app/models/account/setting.rb
  app/models/account/settings/racing.rb
  app/services/accounts/settings_updater.rb
  app/views/settings/_racing_form.html.slim
  config/deploy.rb
  db/migrate/20251203101405_add_fields_to_settings.rb
  db/structure.sql
Due: slim-lint

Remove column ignore for settings table to allow data migration
  app/models/account/setting.rb
Due: none

Fix blank website values for migration
  app/models/account/setting.rb
  app/models/account/settings/website.rb
  db/data/20251203102358_migrate_settings_to_website_json.rb
Due: none

Remove invalid database migration
  db/migrate/20251203143224_active_record_doctor_fixes_dec3.rb
Due: none

Replace dropdown with popover with tailwindcss elements version
  app/components/nav/breadcrumbs/actions/component.html.slim
  app/components/nav/breadcrumbs/actions/component.rb
  app/views/horses/actions/_accept_lease_offer.html.slim
  app/views/horses/actions/_accept_sale_offer.html.slim
  app/views/horses/actions/_cancel_lease_offer.html.slim
  app/views/horses/actions/_cancel_sale_offer.html.slim
  app/views/horses/actions/_create_lease_offer.html.slim
  app/views/horses/actions/_create_sale_offer.html.slim
  app/views/horses/actions/_destroy_sale_offer.html.slim
  app/views/horses/actions/_reject_lease_offer.html.slim
  app/views/horses/actions/_ship.html.slim
  app/views/horses/actions/_terminate_current_lease.html.slim
  app/views/horses/index.html.slim
  app/views/layouts/_head.html.slim
Due: slim-lint

Set up auction consignment/removal
  app/controllers/auctions/horses_controller.rb
  app/controllers/horse/auction_consignments_controller.rb
  app/javascript/controllers/dependent_fields_controller.js
  app/javascript/controllers/dynamic_select_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/select_with_dependent_controller.js
  app/models/auction.rb
  app/models/racing/race_stats.rb
  app/policies/auctions/horse_policy.rb
  app/policies/current_stable/horse_policy.rb
  app/policies/current_stable/sale_offer_policy.rb
  app/services/accounts/settings_updater.rb
  app/services/auctions/horse_creator.rb
  app/views/auctions/horses/_bidding.html.slim
  app/views/auctions/horses/_form.html.slim
  app/views/auctions/horses/new.turbo_stream.slim
  app/views/horse/auction_consignments/new.html.slim
  app/views/horses/_info.html.slim
  app/views/horses/actions/_consign_to_auction.html.slim
  app/views/horses/actions/_remove_from_auction.html.slim
  config/locales/auctions/en.yml
  config/locales/en.yml
  config/locales/form/en.yml
  config/locales/horse/en.yml
  config/locales/horses/en.yml
  config/routes/horses.rb
Due: eslint, slim-lint

Path conditions:
  actionlint: any of: \/\.github\/workflow\/.+\.yml$
  active-record-doctor: any of: \/db\/migrate\/.+\.rb
  eslint: any of: \.(js|mjs|cjs)$
  i18n-normalize: any of: \/config\/locales\/.+\.yml
  slim-lint: any of: \.slim$
  stylelint: any of: \.css$
